.flex-competence{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
}
.navbar-nav li,select {
  margin-top: 100px;
  position: relative;
  display: inline-block;
}

.navbar-nav li input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}

.navbar-nav li input:checked+* {
  background: rgb(212, 212, 202);
  text-decoration: none;
}
span:hover{
  cursor: pointer;
}
li{

  padding: 20px;
  background-color: rgb(224, 221, 217);
  border-top-left-radius: 30px 30px;
  border-top-right-radius: 30px 30px;
}
ul{
  display: flex;
  gap: 20px;
}
.flex-competence{
  width: 100%;
  height: auto;
  display: flex;
  gap: 30px;
}
#nav{
display: none;
}
  @media screen and (max-width: 900px) {
    .flex-competence{
      width: 100%;
    }
    .navbar-nav{
      display: none;
    }
    #nav{
      display: block;
      text-decoration: none;
      height: 50px;
    }
    #nav *{
      background-color: rgb(219, 219, 219);
    }
  }