<nav-mobile></nav-mobile>
<div class="flex-competence">
<section>
    
    <select  #nav (change)="getSemestreString(nav.value)" id="nav">
        <option value=1 selected>Semestre 1</option>
        <option value=2>Semestre 2</option>
        <option value=3>Semestre 3</option>
        <option value=4>Semestre 4</option>
    </select>
    <ul class="navbar-nav">
        <li><input type="radio" checked name="nav" (click)="getSemestre(1)"><span>Semestre 1</span></li>
        <li><input type="radio" name="nav" (click)="getSemestre(2)"><span>Semestre 2</span></li>
        <li><input type="radio" name="nav" (click)="getSemestre(3)"><span>Semestre 3</span></li>
        <li><input type="radio" name="nav" (click)="getSemestre(4)"><span>Semestre 4</span></li>
      </ul>
</section>
<div *ngIf="observable$ | async as semestre"  class="flex-competence">
    <div *ngFor="let competence of semestre.competences">
        <app-card-competence 
        [competence]="competence">
        </app-card-competence>  
    </div>
</div>
<!-- <app-footer  [classFooter]="'root'"></app-footer> -->
</div>
