<div class="flex-competence">
<section>
    <ul class="navbar-nav">
        <li><input type="radio" checked name="nav" (click)="getSemestre(1)"><span>Semestre 1</span></li>
        <li><input type="radio" name="nav" (click)="getSemestre(2)"><span>Semestre 2</span></li>
        <li><input type="radio" name="nav" (click)="getSemestre(3)"><span>Semestre 3</span></li>
        <li><input type="radio" name="nav"><span>Semestre 4</span></li>
        <!-- <li><input type="radio" name="nav"><span>Semestre 5</span></li>
        <li><input type="radio" name="nav"><span>Semestre 6</span></li> -->
      </ul>
</section>
<div *ngIf="observable$ | async as semestre" >
    <div *ngFor="let item of semestre.competences">
                <p>{{item.nom_competence}}</p>
                <p>{{item.description}}</p>
    </div>
</div>
<!-- <section id="competences">

    <h1>Mes compétences</h1> 
    <h2>
        Ma formation en BUT Informatique à l'IUT Lyon 1 m'a permis de diversifier mes compétences, 
        incluant la programmation, la gestion de projets et l'administration de systèmes.
    </h2>
    <div>
        <input id="check01" type="checkbox" name="menu" />
        <label for="check01">Compétence 1 : Savoir développer une application </label>
        <ul class="submenu">
            <li><a href="#">Maîtrise des concepts de la programmation orientée objet et événementielle.</a></li>
            <li><a href="#">Écriture de code de qualité avec tests unitaires et documentation</a></li>
            <li><a href="#">Langages utilisés : Javascript,PHP,Python,JAVA</a></li>
        </ul>
    </div>
    <div>
        <input id="check02" type="checkbox" name="menu" />
        <label for="check02">Compétence 2 : Optimiser des applications</label>
        <ul class="submenu2">
            <li><a href="#">Analyse et optimisation d'algorithmes.</a></li>
            <li><a href="#">Utilisation d'outils de profiling pour optimiser les applications.</a></li>
        </ul>
    </div>
    
    
    
    <div>
        <input id="check03" type="checkbox" name="menu" />
        <label for="check03">Compétence 3 : Administrer des systémes informatiques </label>
        <ul class="submenu3">
            <li><a href="#">Installation, configuration et gestion des systèmes d'exploitation (Windows et Linux).</a></li>
            <li><a href="#">Maîtrise des concepts de base de la virtualisation
                (Conteneurisation).</a></li>
        </ul>
    </div>
    <div>
        <input id="check04" type="checkbox" name="menu" />
        <label for="check04">Compétence 4 : Exploitation de base de données</label>
        <ul class="submenu4">
            <li><a href="#">Conception du modéle de données.</a></li>
            <li><a href="#">Mettre à jour et interroger une base de données relationnelle.</a></li>
            <li><a href="#">Optimiser les modèles de données de l'entreprise.</a></li>
        </ul>
    </div>
    
    
    
    <div>
        <input id="check05" type="checkbox" name="menu" />
        <label for="check05">Compétence 5 : Gestion d'un projet</label>
        <ul class="submenu5">
            <li><a href="#">Identification des besoins d'un client.</a></li>
            <li><a href="#">Résolution des conflits rencontrés.</a></li>
            <li><a href="#">Réalisation d'un projet en équipe.</a></li>
        </ul>
    </div>
    
    
    
    <div>
        <input id="check06" type="checkbox" name="menu" />
        <label for="check06">Compétence 6 : Organisation d'un travail d'équipe</label>
        <ul class="submenu6">
            <li><a href="#">Communication efficace au sein d'une équipe.</a></li>
            <li><a href="#">Résolution des conflits au sein de l'équipe.</a></li>
            <li><a href="#">Veille Technologique.</a></li>
        </ul>
    </div>
</section> -->
</div>