
<div  >

  <nav>
    <ul>
        <li><a class="active" href="#section" >A propos</a></li>
        <li><a class="active" href="#exp" >Expériences</a></li>
        <li><a href="#projets">Projets</a></li>
        <li><a href="#technologies">Technologies</a></li>
        <li><a href="/competence">Compétences</a></li>
      </ul>
</nav>
<nav role="navigation" class="navigation">
  <div id="portfolio">Portfolio</div>
  <div id="menuToggle">
 
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    
    <ul id="menu">
      <li><a class="active" href="#section" >A propos</a></li>
      <li><a class="active" href="#exp" >Expériences</a></li>
      <li><a href="#projets" >Projets</a></li>
      <li><a href="#technologies">Technologies</a></li>
      <li><a href="/competence">Compétences</a></li>
    </ul>
    
  </div>

</nav>


</div>
