section{
    width:1000px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
p{
    text-align: center;
    width: 50%;
}
@media screen and (max-width: 900px) {
    section{
        width: 300px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;   
    }
    p{
        text-align: center;
        width: 250px;
    }
}