<section id="section">
    <div>
        <img src="assets/photo.jpg" alt="mon image">
    </div>
    <div class="propos">
        <p>
            Bonjour, je m'appelle Rafik et j'ai actuellement 19 ans. Depuis que je suis tout petit, ma passion pour les ordinateurs ne fait que croître. J'ai été fasciné par leur fonctionnement et leur potentiel dès mon plus jeune âge,
            ce qui m'a poussé à explorer le monde du développement informatique. J'ai consacré de nombreuses heures à apprendre et à expérimenter avec différents langages de programmation, frameworks et technologies.
        </p>
    </div>
</section>