#projets{
  width: 100%;
  height: auto;
}
h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
  }
.flex-projet{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
h2{
  font-size: 35px;
}

@media screen and (max-width: 900px) {
  *{
    box-sizing: content-box;
  }
  #projets{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flip-card-back {
    display: none;
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }
 }
