
<section id="section">
    <div>
      <app-image-perso [img]="'assets/photo.jpg'"></app-image-perso>
    </div>
    
    <div class="propos">
      <p>
        <app-propos [propos]="p"></app-propos>
      </p>
      <p>
        <app-propos [propos]="'J\'ai été fasciné par leur fonctionnement et leur potentiel dès mon plus jeune âge,
        ce qui m\'a poussé à explorer le monde du développement informatique en choisissant de faire un BUT Informatique.
        Je suis issu d\'une formation en BUT Informatique à la doua.'"></app-propos>
      </p>
    </div>
</section>