
#exp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}
.flex-experience{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}