<section>
    <div id="cat-techno">
        <ng-container *ngFor="let item of techno; let i = index; ">
            <h1>{{ item.nom_cat }}</h1>
            <div id="card-technos">
                <div *ngFor="let tech of item.technos; let j = index; ">
             
                    <div class="techno">
                        <p>{{ tech.nom_techno }}</p>
                        <img [attr.src]="'assets/' + tech.image_techno" alt="">
                    </div>
                    
                    
                </div>
            </div>
        </ng-container>
    </div>
</section>
