<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-back">
        <img [attr.src]="'assets/' + item.image" style="width:100%;">
        <p><strong> Techno(s) Utilisées :</strong> </p>
        <div class="flex-technos-back">
           
            <div *ngFor="let technos of item.technos" >
                {{technos.nom_techno}} |
            </div>
        </div>
        
      </div>
      <div class="flip-card-front">
        <h1>  {{ item.nom_projet}}</h1>
        <p> {{item.description}}</p>
     
      </div>
    </div>
</div>