<div class="flip-card" (click)="navigate(projet.id_projet)">
  <div class="flip-card-inner">
    <div class="flip-card-back">
      <app-image-projet [img]="'assets/' + projet.image" 
      [classImg]="'imgFlipCard'">
    </app-image-projet>
    
      <p><strong> Techno(s) Utilisées :</strong> </p>
      <div class="flex-technos-back">
        <app-technos [technos]="projet.technos"></app-technos>
      </div>
      
    </div>
    
    <div class="flip-card-front">
      <app-flip-card-front [nom]="projet.nom_projet" [description]="projet.description"></app-flip-card-front>
    </div>
  </div>
</div>